/* @import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
  /* font-family: 'Yesteryear', cursive; */
  font-family: 'Permanent Marker', cursive;
}
.App{
  background-color: #153D40;
  padding: 25px;
  box-sizing: border-box;
  height: 100vh;
}